<!-- <ng-content></ng-content> -->
<form class="auth-form" [formGroup]="signInForm" (ngSubmit)="onSubmit()">
  <div class="auth-form__group">
    <input class="auth-form__input" pInputText type="login" name="login" required placeholder="Логин"
           formControlName="login">
    <div *ngIf="submitted && form['login'].errors" class="invalid-field">
      <span *ngIf="submitted && form['login'].errors['required']">Введите имя, указанное при регистрации</span>
    </div>
  </div>
  <div class="auth-form__group">
    <input class="auth-form__input" pInputText type="password" name="password" required placeholder="Пароль"
           formControlName="password" [ngClass]="{ 'is-invalid': submitted && form['login'].errors}">
    <div *ngIf="submitted && form['password'].errors" class="invalid-field">
      <span *ngIf="submitted && form['password'].errors['required']">Необходимо ввести пароль</span>
    </div>
  </div>
  <div class="auth-form__options-container">
    <div class="auth-form__checkbox">
      <p-checkbox value="Запомнить меня" inputId="remember-me"></p-checkbox>
      <label>Запомнить меня</label>
    </div>
    <p class="auth-form__tip"><a (click)="show()">Забыли пароль?</a></p>
  </div>
  <button class="auth-form__btn" pButton [disabled]="signInForm.invalid" (submit)="onSubmit()">Войти</button>
  <p class="auth-form__tip">Еще нет учетной записи? <a (click)="onRegisterClick()">Создать</a></p>
</form>
<p-dialog [(visible)]="isForgetModalOpen">Очень жаль. До свидания.</p-dialog>














