<header class="header">
  <div class="header__container _container">
    <div class="header__buttons-container">
      <div class="button-container">
        <user-menu></user-menu>
      </div>
      <button class="header__button-new-ad button" (click)="onNewAdBtnClick()"><span class="button__text_hide">Новое
          объявление</span><img
        class="header__button-add-icon" ngSrc="/assets/images/icons/plus.svg" alt="new-ad-icon" height="20" width="20">
      </button>
    </div>
  </div>
</header>

