<header class="header">
  <div class="header__container _container">
    <div class="header__buttons-container">
      <div class="button-container">
        <!--         <a class="header__button-login button" (click)="showLoginModal()"> -->
        <!--           <img class="header__button-login-icon" src="../../../../assets/images/icons/login-icon.svg" alt="login"> -->
        <!--           <span class="button__text_hide">{{userBtnText}}</span> -->
        <!--         </a> -->
        <user-menu [loggedIn]="loggedIn"></user-menu>
        <!--         <div class="header__user-menu user-menu" [style]="visible"> -->
        <!--           <nav> -->
        <!--             <ul> -->
        <!--               <li><a class="user-menu__link" routerLink="my-ads">Мои объявления</a></li> -->
        <!--               <li><a class="user-menu__link" routerLink="settings">Настройки</a></li> -->
        <!--               <li><a class="user-menu__link" routerLink="sign-out"><span class="user-menu__link_accent">Выйти</span></a> -->
        <!--               </li> -->
        <!--             </ul> -->
        <!--           </nav> -->
        <!--         </div> -->
      </div>
      <button class="header__button-new-ad button" (click)="onNewAdBtnClick()"><span class="button__text_hide">Новое
          объявление</span><img
        class="header__button-add-icon" src="../../../assets/images/icons/plus.svg" alt="new-ad-icon">
      </button>
    </div>
  </div>
</header>

