<header class="header">
  <div class="header__container _container">
    <div class="header__buttons-container">
      <a class="header__button-login button" (click)="showLoginModal()">
        <img class="header__button-login-icon" src="../../../../assets/images/icons/login-icon.svg" alt="login">
        <span class="button__text_hide">{{userBtnText}}</span></a>
      <button class="header__button-new-ad button" (click)="onNewAdBtnClick()"><span class="button__text_hide">Новое
          объявление</span><img
        class="header__button-add-icon" src="../../../../assets/images/icons/new-ad-icon.svg" alt="new-ad-icon">
      </button>
    </div>
  </div>
</header>
