.header {
  height: 52px;
  background-color: #1e293b;

  //position: absolute;
  //width: 100%;
  //left: 0;
  //top: 0;
  //z-index: 50;

  &__container {
    height: 100%;
    display: flex;
    justify-content: flex-end;
  }

  &__buttons-container {
    min-height: 100%;
    display: flex;
    align-items: center;
  }

  &__button-login {
    position: relative;
    display: flex;
    column-gap: 8px;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    background-color: transparent;
    height: 32px;
    width: 70px;
    color: white;


    @media screen and (max-width: 382px) {
      width: 26px;
      margin-right: 12px;
    }
  }

  &__button-login-icon {
    @media screen and (max-width: 382px) {
      width: 20px;
    }
  }

  &__button-new-ad {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 9px;
    background-color: #3b82f6;
    color: white;
    height: 32px;
    width: 179px;
    @media screen and (max-width: 382px) {
      width: 56px;
    }


  }





  &__button-add-icon {
    @media screen and (max-width: 382px) {
      width: 16px;
    }
  }
  &__user-menu {
    display: none;
    //display: flex;
    align-items: center;
    padding: 8px 16px;
    z-index: 10;
    width: 150px;
    height: 108px;
    position: absolute;

    top: 35px;
    right: 5px;



    border-radius: 4px;
    background-color: white;
    box-shadow: 0px 20px 25px -5px rgba(0, 0, 0, 0.1), 0px 10px 10px -5px rgba(0, 0, 0, 0.04);

    nav {

      color: black;
      ul {
        display: flex;
        flex-direction: column;
align-items: flex-end;
        height: 100%;

        gap: 10px;
      }
      a {

      }
    }
  }

}


.login-modal {
  width: 416px;
  height: 200px;
}

.dialog-box__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  :first-child {
    margin-bottom: 16px;
  }

  input {
    padding: 12px;
    width: 368px;
    height: 48px;
    border: 1px solid rgba(203, 213, 225, 1);
    border-radius: 4px;



  }
  .form__assistance {
    width: 100%;
    margin-top: 8px;
    margin-bottom: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;

  }

  button {


    width: 127px;
    height: 48px;
    border-radius: 4px;
    font-style: normal;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }

}


.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  //position: relative;

}

.user-menu{

    &__link {
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      text-align: right;
      color: #1E293B;
      -webkit-transition: ease-out .2s;
      -o-transition: ease-out .2s;
      transition: ease-out .2s;
      &:hover {
        cursor: pointer;
        opacity: .6;
        -webkit-transition: ease-in .2s;
        -o-transition: ease-in .2s;
        transition: ease-in .2s;
      }



&_accent {
  color: #EF4444;
}
    }

}

