.ad-details-container {
  margin-top: 32px;
  display: grid;
  grid-template-columns: 8fr 4fr;
  column-gap: 24px;
  @media screen and (max-width: 714px) {
    grid-template-columns: 1fr;
  }
}

.ad-details {
  color: #1E293B;

  &__title {
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 16px;
  }

  &__image {
    margin-bottom: 24px;
    aspect-ratio: 856 / 512;

    &_large {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      border-radius: 4px;
    }

    &_small {
      width: 120px;
      height: 84px;
      margin-right: 12px;
      transition: ease-out .2s;
      will-change: transform;
      background-position: center;
      background-size: cover;

      &:hover {
        transition: ease-in .1s;
        opacity: .9;
        cursor: pointer;
      }
    }
  }

  &__text {
    &_price {
      margin-top: 32px;
      font-style: normal;
      font-weight: 600;
      font-size: 30px;
      line-height: 36px;
    }

    &_breadcrumbs {
      display: flex;
      gap: 28px;
      margin-bottom: 8px;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;

      li {
        &:not(:first-child) {
          list-style: disc;
          color: #64748B
        }
      }

      a {
        color: #64748B;
      }
    }

    &_description-heading {
      margin-bottom: 8px;
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 32px;
    }

    &_description {
      overflow-wrap: anywhere;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      max-width: 100%;
    }
  }
  &__info-container {
    overflow: hidden;
  }
  &__description-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
}

.phone-button {
  padding: 0 10px;
  margin-top: 16px;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  width: 100%;
  height: 68px;
  border-radius: 4px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  background-color: #3b82f6;
  &__icon {
    background-image: url('../../../../../assets/images/icons/phone_icon.svg');
    background-size: cover;
    width: 28px;
    height: 28px;
  }
  &__text {
    color: white;
    @media screen and (max-width: 1012px) {
      max-width: 160px;
      font-size: 18px;
      line-height: 24px;
    }
    @media screen and (max-width: 714px) {
      max-width: 100%;
      font-size: 20px;
      line-height: 28px;
    }
  }
}

.link {
  margin-top: 4px;
  margin-bottom: 32px;
  display: flex;
  gap: 8px;
  align-items: center;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  &__icon {
    width: 20px;
    height: 20px;
    background-image: url('../../../../../assets/images/icons/arrow-up-right-square.svg');
  }
}
