<section class="ad-details ad-details-container _container">
  <div>
    <nav aria-label="Breadcrumb">
      <ul class="ad-details__text_breadcrumbs">
        <li><a href="#">Город</a></li>
        <li><a href="#">Категория</a></li>
        <li><a href="#">Подкатегория</a></li>
        <li><a href="#">Тип</a></li>
        <li><span aria-current="page">Выбранное объявление</span></li>
      </ul>
    </nav>
    <h4 class="ad-details__title">Macbook pro 13</h4>
    <div class="ad-details__image">
      <img class="ad-details__image_large" src="/src/assets/images/cards-examples/guitar.jpg" alt="">
    </div>
    <div class="ad-details__preview-img-container">
      <img class="ad-details__image_small" src="/src/assets/images/cards-examples/guitar.jpg" alt="">
      <img class="ad-details__image_small" src="/src/assets/images/cards-examples/guitar.jpg" alt="">
      <img class="ad-details__image_small" src="/src/assets/images/cards-examples/guitar.jpg" alt="">
      <img class="ad-details__image_small" src="/src/assets/images/cards-examples/guitar.jpg" alt="">
    </div>
  </div>
  <div>
    <p class="ad-details__text_price">80 000 ₽</p>
    <button class="phone-button" pButton (click)="onPhoneBtnClick()">
      <div class="phone-button__icon"></div>
      Показать номер телефона
    </button>
    <p class="ad-details__text_description-heading">Адрес</p>
    <p class="ad-details__text_description">Город, ул. Улица, ХХ</p>
    <a class="link" href="#">Открыть на карте
      <div class="link__icon"></div>
    </a>
    <p class="ad-details__text_description-heading">Описание</p>
    <p class="ad-details__text_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto,
      voluptatem. Lorem ipsum dolor sit amet, consectetur adipisicing elit. At
      consequatur illum incidunt iure neque
      repudiandae.</p>
    <p-dialog [(visible)]="displayModal" [modal]="true" [dismissableMask]="true" [header]="'Пользователь'">
      <app-seller-info-modal></app-seller-info-modal>
    </p-dialog>
  </div>
</section>

