<section class="ad-details ad-details-container _container" *ngIf="adData">
  <div>
    <nav aria-label="Breadcrumb">
      <ul class="ad-details__text_breadcrumbs">
        <li><a routerLink="#">{{category}}</a></li>
      </ul>
    </nav>
    <h4 class="ad-details__title">{{adData.name}}</h4>
    <div class="ad-details__image">
      <img class="ad-details__image_large" [src]="adData.imageUrl" alt="">
    </div>
    <div class="ad-details__preview-img-container">
      <img class="ad-details__image_small" src="{{adData.imageUrl}}" alt="">
    </div>
  </div>
  <div>
    <p class="ad-details__text_price">{{adData.price | number:''}} ₽</p>
    <button class="phone-button" pButton (click)="onPhoneBtnClick()">
      <div class="phone-button__icon"></div>
      Показать номер телефона
    </button>
    <p class="ad-details__text_description-heading">Адрес</p>
    <p class="ad-details__text_description">{{adData.address}}</p>
    <a class="link" href="#">Открыть на карте
      <div class="link__icon"></div>
    </a>
    <p class="ad-details__text_description-heading">Описание</p>
    <p class="ad-details__text_description">{{adData.description}}</p>
    <p-dialog [(visible)]="displayModal" [modal]="true" [dismissableMask]="true" [header]="'Пользователь'">
      <app-seller-info-modal></app-seller-info-modal>
    </p-dialog>
  </div>
</section>

