
<!-- <div class="ad-card" *ngFor="let ad of ads"> -->


<div class="ad-card">



    <div class="ad-card__photo-container">
      <img src="{{ad.image}}" alt="{{ad.title}}">
    </div>


  <div class="ad-card__info">
    <h3 class="ad-card__title">{{ad.title}}</h3>
    <p class="ad-card__price">{{ad.price | currency:"EUR"}}</p>
    <p class="ad-card__additional-info" id="location">Location</p>
    <p class="ad-card__additional-info ad-card__additional-info_inline" id="day">Rate: {{ad.rating.rate}} </p>
    <p class="ad-card__additional-info ad-card__additional-info_inline" id="time">Count: {{ad.rating.count}} </p>
  </div>
</div>

