<div class="ad-card">
  <div class="ad-card__photo-container" (click)="onAdClick()">
    <ng-container *ngIf="ad.imageUrl; else noPhoto">
      <img src="{{ad.imageUrl}}" alt="{{ad.name}}">
    </ng-container>
    <ng-template #noPhoto>
      <img src="/assets/images/interface/noPhoto.png" alt="Нет фото">
    </ng-template>
  </div>
  <div class="ad-card__info">
    <h3 class="ad-card__title" (click)="onAdClick()">{{ad.name}}</h3>
    <p class="ad-card__price">{{ad.price}} ₽</p>
    <p class="ad-card__address">{{ad.address}}</p>
    <p class="ad-card__address">{{ ad.createdAt | date }}</p>
  </div>
</div>



