.ad-card {
  position: relative;
  width: 100%;
  max-width: 306px;
  max-height: 336px;
  overflow: hidden;

  &__title {
    margin: 8px 0 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #3b82f6;
  }

  &__price {
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #1e293b;
  }

  &__address {
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #64748b;

    &_inline {
      display: inline;
    }
  }

  &__photo-container {
    height: 240px;
    max-width: 100%;
    display: flex;
    border-radius: 4px;
    transition: ease-out .2s;
    will-change: transform;
    background-position: center;
    background-size: cover;

    &:hover {
      transition: ease-in .1s;
      opacity: .9;
      cursor: pointer;
    }
  }

  img {
    width: 100%;
    object-fit: contain;
  }
}
