<form class="auth-form" [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
  <div class="auth-form__group">
    <input class="auth-form__input" pInputText type="email" name="email" required placeholder="E-mail"
           formControlName="email">
    <!--       <span class="form-group__warning" [hidden]="phone.valid || phone.pristine">Введите номер телефона</span>
     -->
  </div>
  <div class="auth-form__group">
    <input class="auth-form__input" pInputText type="text" name="login" required placeholder="Имя"
           formControlName="login">
    <!--       <span class="form-group__warning" [hidden]="password.valid || password.pristine">Введите пароль</span> -->
  </div>
  <div class="auth-form__group">
    <input class="auth-form__input" pInputText type="password" name="password" required placeholder="Пароль"
           formControlName="password">
  </div>
  <button class="auth-form__btn" pButton (submit)="onSubmit()">Зарегистрироваться</button>
  <p class="auth-form__tip">Уже зарегистрированы? <a (click)="onLoginClick()">Войти</a></p>
</form>





