<section class="navigation">
  <div class="navigation__container _container">
    <h1 class="navigation__title"><a style="color: inherit" [routerLink]="''">Доска объявлений</a></h1>
    <div class="navigation__low-res-container">
      <form [formGroup]="findByCategory">
        <p-cascadeSelect formControlName="category"
                         (onChange)="selectCategory()"
                         [options]="categories"
                         optionLabel="name"
                         optionGroupLabel="name"
                         [optionGroupChildren]="['category', 'parentId']"
                         [style]="{ minWidth: '14rem' }"
                         placeholder="Все категории"
        ></p-cascadeSelect>
      </form>
      <form class="navigation__form" method="get" [formGroup]="findByName">
        <input class="navigation__form-field" name="search" placeholder="Поиск по объявлениям" type="search"
               required formControlName="name">
        <button class="navigation__form-button button" [disabled]="!findByName.valid"
                (click)="onFindBtnClick()">
          Найти<img ngSrc="/assets/images/icons/find-icon.svg" alt="find-icon" height="16" width="16"></button>
      </form>
    </div>
  </div>
</section>
