<section class="navigation">
  <div class="navigation__container _container">
    <h1 class="navigation__title"><a style="color: inherit" [routerLink]="''">Доска объявлений</a></h1>
    <div class="navigation__low-res-container">
      <form [formGroup]="formGroup">
        <p-cascadeSelect formControlName="selectedCategory"
                         [options]="categories"
                         optionLabel="name"

optionGroupLabel="name"
                         [optionGroupChildren]="['categories', 'subcategorieså']"
                         [style]="{ minWidth: '14rem' }"
                         placeholder="Все категории"
        ></p-cascadeSelect>
      </form>
      <form class="navigation__form" method="get">
        <input class="navigation__form-field" name="search" placeholder="Поиск по объявлениям" type="search"
               required>
        <button type="submit" class="navigation__form-button button">
          Найти<img src="../../../assets/images/icons/find-icon.svg" alt="find-icon"></button>
      </form>
    </div>
  </div>
</section>
