<div class="card flex justify-content-center">
  <p-menu #menu [model]="items" [popup]="true"></p-menu>
  <div class="login-btn__container">
    <ng-container *ngIf="(isLoggedIn$ | async); else notLoggedIn">
      <button pButton type="button" (click)="menu.toggle($event)" icon="pi pi-angle-down"
              [style]="'background-color: transparent; border: none; height: 32px'" label="{{name}}"
              iconPos="right" class="login-btn__element">
      </button>
    </ng-container>
    <ng-template #notLoggedIn>
      <button pButton type="button" (click)="onLoginBtnClick()"
              [style]="'background-color: transparent; border: none; height: 32px'" label="Войти"
              iconPos="right" class="login-btn__element">
        <img class="login-btn__icon"
             src="/assets/images/icons/login-icon.svg"
             alt="icon">
      </button>
    </ng-template>
  </div>
</div>
<p-dialog [(visible)]="visible" [modal]="true" [dismissableMask]="true" [header]="'Вы уверены'">
  <button pButton (click)="onConfirmBtnClick()">Да</button>
</p-dialog>

